.details-wrap {
  position: relative;
  min-height: 100vh;
  max-height: max-content;
  background-color: #08aeea;
  background-image: -webkit-linear-gradient(74deg, #08aeea 0%, #2af598 50%, #8b8bcf 100%);
  background-image: -moz-linear-gradient(74deg, #08aeea 0%, #2af598 50%, #8b8bcf 100%);
  background-image: -o-linear-gradient(74deg, #08aeea 0%, #2af598 50%, #8b8bcf 100%);
  background-image: linear-gradient(74deg, #08aeea 0%, #2af598 50%, #8b8bcf 100%);
}

.details-wrap .nuc-container {
  max-width: 1600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.details-wrap .row {
  margin-left: 0;
}
.details-back {
  margin-top: 40px;
  text-align: center;
}

.details-back-btn {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: white;
  border: 2px solid #4db0c2;
  background: rgba(66, 68, 90, 0.7);
}
.details-back-btn:hover {
  background: #4db0c2;
  color: #fff;
}
.details-wraper {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
}
.row {
  margin: 0px;
}

.detail-media {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  border-radius: 16px;
}

.details-bottom {
  margin-bottom: 100vh;
}
